/*-------------GENERAL------------*/
@font-face{
	font-family: 'Roboto';
	src: url('fonts/Roboto-regular.ttf') format('truetype');
}

body{
	font-family: 'Roboto', serif;
}

/*-------------BLOC TEXTE------------*/

#titre {
    text-align: center;
	position: relative;
	z-index: 1;
	color: white;
}

#buttoninfo{
	padding: 10px;
	background-color: lightblue;
	color: #ffffff;
	border-style: none;
	border-radius: 3px;
	font-weight: bold;
	box-shadow: 0 3px 0 rosybrown;
}

.container {
   text-align: center;
}
/*-------------NAVBAR------------*/

.nav {
	background-color: black;
}

ul{
    display: table;
    width: 500px;
    padding: 0;
}
ul li{
    display: table-cell;
}

ul li a{
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 8px 8px 17px 8px;
	font-weight: bold;
}

/*------------- Carrousel -------------*/

#carrousel{
    position:relative;
    height:350px;
    width:100%;
    margin:auto;
	top: -200px;
    z-index: 0;
	background-color: bisque;
}

#carrousel ul {
    list-style: none;
}

#carrousel ul li{
    position:absolute;
    margin:0 auto;
}

#carrousel ul li img  {
    margin:0 auto;
    width:100%;
}

.text_carrousel {
	margin-top: -90px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.controls {
  	color: #fff;
    display: block;
    position: relative;
}
.next {
	float: right;
}

/*-------------SLIDER PRESENTATION------------*/

#slide-accueil {width:1020%px;margin-bottom: 30px;}

/*
.cbp-fwslider {
	position: relative;
	margin: 0 0 10px;
	overflow: hidden;
}

.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
}

.cbp-fwslider ul li {
	transform: translateZ(0);
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.cbp-fwslider ul li > a img {
	border: none;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	background:purple;
	color: white;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
}

.cbp-fwslider nav span:hover {
	background:#38b39d;
	color: #fff;
}

.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;
}

.cbp-fwdots span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #ddd;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #fff;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: purple;
	transition: box-shadow 0.2s ease-in-out;
} */